<nav>
    <ul>
        <li><a href="/">Hjemme</a></li>
        <li><a href="/vurderinger">Vurderinger</a></li>
        <li><a href="/opprett">Opprett Vurdering</a></li>
    </ul>
    <div>
        <a href="/">
            <img src="/images/logo.png" alt="Logo" style="height: 40px;">
        </a>
    </div>
    <ul>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>