<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header') %>

    <body>
            <section>
                <div class="container">
                    <h1 class="title is-1">Error</h1>
                    <p class="subtitle is-3"><%= error %></p>
                </div>
            </section>

            <%- include ('./partials/footer') %>

    </body>

</html>