<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header') %>

    <body>
        <%- include ('./partials/navbar') %>
            <section>
                <div class="container">
                    <h1>Velkommen til nettsiden til Jazz!</h1>
                    <p>WCAGRate lar brukere anmelde og vurdere nettsider basert på tilgjengelighet.</p>
                    <p>Oppdag hvor
                        tilgjengelig en nettside er gjennom WCAG-poeng og tilbakemeldinger fra fellesskapet.</p>
                </div>
            </section>

            <%- include ('./partials/footer') %>

    </body>

</html>