<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/header') %>

    <body>
        <section>
            <form action="/login" method="POST">
                <div class="container">
                    <h1>Login</h1>
                    <label for="brukernavn"><b>Brukernavn</b></label>
                    <input type="text" placeholder="Skriv inn brukernavn" name="brukernavn" required>

                    <label for="passord"><b>Passord</b></label>
                    <input type="password" placeholder="Skriv inn passord" name="passord" required>

                    <button type="submit">Login</button>
                </div>
                <p>Har du ikke en konto? <a href="/register">Registrer deg her</a></p>
            </form>
        </section>

        <%- include ('./partials/footer') %>

    </body>

</html>