form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40vw;
  height: fit-content;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: beige;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    resize: vertical;
    height: 100px;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #45a049;
}

